
/************************************************************************************
screens smaller or equal to 980
*************************************************************************************/
@media screen and (max-width: 980px) {

    #container {
        width: 600px;
    }

}
/************************************************************************************
screens smaller or equal to 750
*************************************************************************************/
@media screen and (max-width: 750px) {

    #container {
        width: 400px;
    }


}
/************************************************************************************
screens smaller or equal to 480
*************************************************************************************/
 /* portrait mode */
@media screen and (max-width: 480px) {

    #container {
        width: 300px;
    }
    
    #progress_bar { 
        margin-left: 50px;
    }
}
