
/************************************************************************************
screens smaller or equal to 980
*************************************************************************************/
@media screen and (max-width: 980px) {


}
/************************************************************************************
screens smaller or equal to 750
*************************************************************************************/
@media screen and (max-width: 750px) {


}
/************************************************************************************
screens smaller or equal to 480
*************************************************************************************/
 /* portrait mode */
@media screen and (max-width: 480px) {


}
