
/************************************************************************************
screens smaller or equal to 980
*************************************************************************************/
@media screen and (max-width: 980px) {
	
	/* pagewrap */
	#pagewrap {
		width: 95%;
	}

    .comment-text {
        width: 320px;
    }

	/* content */
	.content {
		width: 65%;
		/*padding: 3% 4%;*/
	}
	
	article {
		/*padding: 3% 4%;*/
		padding: 5% 2%;
		/*margin: 0 30px 10px 0;*/
	}	

	/* sidebar */
	#sidebar {
		width: 30%;
		float: right;
	}
	#sidebar .widget {
		/*padding: 8% 7%;*/
		margin-bottom: 10px;
		/*display: none;*/
	}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		width: 100%;
		height: auto;
		min-height: 300px;
	}

    .list-right {
        display: inline-block;
        width: 65%;
    }

.list-row {
    padding-left: 20px;
}

    /*.gamemeter {
        display: inline-block;
        width: 80px;
        overflow: hidden;
    }*/
}


/************************************************************************************
screens smaller or equal to 750
*************************************************************************************/
@media screen and (max-width: 750px) {

    #footer {
        display: none;
    }

    #site-logo {
        display: none;
    }
    
    #userlogin1 {
        /*display: none;*/
        padding-top: 10px;
    }

    #main-nav {
        margin-top: 10px;
        /*padding-right: 5px;*/
    }


   /*chat*/
    .scrollit {
        height: 200px;
        overflow-x: hidden;        
        overflow-y: scroll;
        webkit-overflow-scrolling: touch;
    }

    .seenchat {
        width: 40px;
        height: 40px;
    }

    .commentArea1 {    
        background-color: transparent;
        border: 0;
        color: white;
        display: inline-block;
        word-wrap: break-word;
        width: 85%;
        padding-left: 10px;
    }

    .commentArea2 {
        background-color: transparent;
        border: 0;
        color: white;
        display: inline-block;
        word-wrap: break-word;
        width: 85%;
        padding-left: 10px;
        padding-bottom: 10px;    
    }

    .comment-text {
      width: 310px;
    }

    .chatrow:nth-of-type(odd) {
        background-color:rgba(0,0,0,.5);
    }

    .chatrow:nth-of-type(even) {
        background-color:#474747;
    }

    #comment_input {
        width: 98%;
        resize: none;
        height: 40px;    
    }

    #comments_table {
        margin: 5px 0 0 0;
        /*display: inline-table;*/
    }

    #comments_table td:first-child {
        padding: 5px 0px 0px 5px;
        line-height: 15px;  
    }

    #comments_table td:nth-child(2) {
        padding: 5px 0px 0px 15px;
    }

    #comments_table td {
        padding: 0px 0px 0px 10px;
    }

    #chat_content_article, #profile_content_article {
    	padding: 5px 10px 15px;
        width: 99%;
    }

	/* header */
	#header {
		height: auto;
	}


    #loginwrapper {
        width: 75%;
        margin: 0 auto;
    }

	/*#loginsite-logo font {
		font-size: 30px;
	}*/

	#loginsite-logo {
        height: 40px;
        width: 195px;
        margin-left:auto;
        margin-right:auto;
        margin-top: 5px;
        font-size: 30px;
	}
	
	/* login form */
	#loginform, #loginfailfs {
		/*position: absolute
        margin-left:auto;
        margin-right:auto;         
		top: 70px;
		left: 40px;
		z-index: 100;*/
		height: auto;
		width: 200px;
	}

    #loginform input {
      font-size:20px;
      width:150px;
      min-height:20px;
      display:block;
      margin-bottom:15px;
      margin-top:5px;
    }
		
	/* main nav */
	#main-nav {
		position: static;
	}

	/* site logo */
	#site-logo {
		margin: 15px 100px 5px 0;
		position: static;
	}

	/* site description */
	#site-description {
		margin: 0 0 15px;
		position: static;
	}

	/* content */
	.content {
		width: 97%; /* why this works with the right align ??? */
		float: none;
		margin: 10px 0 0 0;
		padding: 10px 0 20px 0;
	}
	
	article {
		/*padding: 3% 4%;*/
		padding: 5% 2%;
		/*margin: 0 30px 10px 0;*/
	}

	/* sidebar */
	#sidebar {
		/*width: 100%;
		margin: 0;
		float: none;*/
		display: none;
	}
	
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		min-height: 250px;
	}
	
	h6 {
		font-size: 1em;
		color: white;
		line-height: 1em;
		margin: 0 0 1.2em;	
	}

	td.col3 {
		width: 18%;
	}

	td.col4 {
		width: 51%;
	}	

}

/************************************************************************************
screens smaller or equal to 480
*************************************************************************************/
 /* portrait mode */
@media screen and (max-width: 480px) {
    
    #event_article_id {
        padding: 1px 5px 18px 5px;
    }

    #chat_content_article, #profile_content_article {
        width: 96%;
    }

   .divtable {
        margin-right: 0px;
    }

    #footer {
        display: none;
    }

    #site-logo {
        display: none;
    }

    
    #userlogin1 {
        /*display: none;*/
        padding-top: 10px;                
    }

    #main-nav {
        margin-top: 10px;
    }

    /*chat*/
    .scrollit {
        height: 190px;
        overflow-x: hidden;        
        overflow-y: scroll;
        webkit-overflow-scrolling: touch;    
    }

    .comment-text {
        width: 150px;
    }

    .seenchat {
        width: 40px;
        height: 40px;
    }

    .commentArea1 {    
        background-color: transparent;
        border: 0;
        color: white;
        display: inline-block;
        word-wrap: break-word;
        width: 85%;
        padding-left: 10px;
    }

    .commentArea2 {
        background-color: transparent;
        border: 0;
        color: white;
        display: inline-block;
        word-wrap: break-word;
        width: 80%;
        padding-left: 10px;
        padding-bottom: 10px;    
    }

    .chatrow:nth-of-type(odd) {
        background-color:rgba(0,0,0,.5);
    }

    .chatrow:nth-of-type(even) {
        background-color:#474747;
    }

    #comment_input {
        width: 98%;
        resize: none;
        height: 40px;    
    }

    #comments_table {
        margin: 5px 0 0 0;
    }

    #comments_table td:first-child {
        padding: 5px 0px 0px 5px;
        line-height: 15px;  
    }

    #comments_table td:nth-child(2) {
        padding: 5px 0px 0px 15px;
    }

    #comments_table td {
        padding: 0px 0px 0px 10px;      
    }


	/*.SSEsupport {
		HTMLElementObject.disabled: true;
	}*/
	
	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

	body {
		padding: 0 5px 0 2px;
	}
	
	article {
		/*padding: 3% 4%;*/
		padding: 6% 2% 10% 2%;
		/*margin: 0 30px 10px 0;*/
	}
	
	#sidebar {
		display: none;
	}	
	
	td.col3 {
		width: 18%;
	}

    /*pcol - Admin screen*/
    td.pcol3 {
	    width: 10px;
        display: none;
    }

    td.pcol4 {
	    font-size: small
    }

    td.pcol5 {
	    width: 10px;
    }

    #pickall {
        font-size: small;
    }

	td.col4 {
		width: 51%;
	}

	td.col5 {
		width: 26%;
		text-align: center;
	}

	td.col6 {
		display: none;
	}	
	
	/*#site-logo font{
		font-size: 90%;
	}*/
	
	/* main nav */
	#main-nav a {
		font-size: 90%;
		padding: 10px 8px;
	}
	
	/*#loginsite-logo font {
		font-size: 30px;
	}
	
	#loginsite-logo {
        height: 60px;
        width: 195px;
        margin-left:auto;
        margin-right:auto;
	}*/
	
	/* login form */
	#loginform, #loginfailfs {
		/*position: absolute;
        margin-left:auto;
        margin-right:auto;         
		top: 70px;
		left: 40px;
		z-index: 100;*/
		height: auto;
		width: 200px;
        padding: 5px;
	}

    #loginform input {
      font-size:20px;
      width:150px;
      min-height:20px;
      display:block;
      margin-bottom:15px;
      margin-top:5px;
    }

	/*#login, #password {
		width: 100px;
	}

	#loginbutton  {
		width: 150px;
	}*/
	
	/*#teamradio {
		position: absolute;
		width: 150px;
	}*/
	
	.radioclass {
		width: 30px;
		height: 30px;
	}
	
	h6 {
		font-size: 1em;
		color: white;
		line-height: 1em;
		margin: 0 0 1.2em;	
	}
	
	#submitgame, .button {
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  border:1px solid #ccc;
	  font-size:20px;
	  width:200px;
	  min-height:30px;
	  display:block;
	  margin-bottom:5px;
	  margin-top:5px;
	  margin-left:45px;
	  outline: none;

	  -webkit-border-radius:5px;
	  -moz-border-radius:5px;
	  -o-border-radius:5px;
	  -ms-border-radius:5px;
	  border-radius:5px;
	}

    #update_event {
        /*height: 35px;
        width: 35px;*/
        position: relative;
        left: -14px;
        /*top: 4px;*/
        z-index: 1;
        margin-top: -70%;        
    }

th.col31 {
	width: 40%;
    /*height: 40%;*/
    padding: 5px 0px 0px 6px;
    border-collapse: collapse;
    border: none;
    /* rounded corner */
	/*-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;*/		
}

th.col41 {
	width: 78%;
    border-collapse: collapse;
    border: none;
    /*background-color: blue;*/
        /* rounded corner */
	/*-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;*/	
}

th.col51 {
	width: 9%;
	text-align: right;
    border-collapse: collapse;
    border: none;
        /* rounded corner */
	/*-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;*/	
}


}

